body {
background-color: rgb(0, 30, 60);
}

button {
  color: black;  
}

h1{
  color: black;  
}

h2 {
    color: black;  
 
}


div {
    color: black;  

}


.logo{
    font-size: 43px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
    
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.heder {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}