body {
    background-image: url('skoleeeeee.jpg');
    background-size:cover ; /* Add this line */
}

button {
    color: black;  
}

h1 {
    color: black;  
}

h2 {
    color: black;  
}

div {
    color: black;  
}
p {
    float:unset;
    color: white;}

.logo {
    font-size: 50px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    transition: .3s;
}

.heder {
    position: fixed;
    top: 0;
    left: 0;
    width: 85%;
    padding: 20px 10%;
    background: #ffffff; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    opacity: 0.8;
}

img {
width: 50%;



}